<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
                <span ng-repeat="data in MenuName">
                    <img src="../files/img/pin-menu.png">
                    {{data.menu_name_th}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>

<div ng-show="PAGE == 'VIEW'">
    <fieldset ng-disabled="true">


    </fieldset>



</div>

<div ng-show="PAGE == 'MAIN'">



    <div class="row form-group text-center">
        <h4>กราฟสรุปข้อคำถาม</h4>
    </div>
    <div class="row form-group ">
     
        <label class="form-control-static col-lg-1 text-center">
            ปี
        </label>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <select name="Year" class="form-control" ng-model="condition.years" ng-options="year.yearText as year.yearValue for year in YearList" required="required">
                <option value="">กรุณาเลือก..</option>
            </select>
        </div>

        <div class="col-lg-1">
            <button class="btn btn-primary" ng-click="loadData1(condition)"> ค้นหา</button>
        </div>


    </div>

    <div class="row form-group">
        <div class="col-lg-12 text-center">
            <canvas id="myChart" style="height: 100px;"></canvas>
        </div>
    </div>

</div>