<div ng-include src="'views/header.html'"></div>
<div  style="margin-top:300px;">
	<div class="row form-group">
		<div class="col-lg-12">
			<div class="row form-group">
				<div class="col-lg-10 col-lg-offset-1 text-center" >
					<span class="title-content">
						<h2>ภาพกิจกรรม</h2>
					</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-10 col-lg-offset-1 text-center" >
					<img src="../files/img/header_line.png" style="width: 70%;">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-3">
					<div class="row form-group">
						<div class="col-lg-12 text-center">
							<img src="../files/img/news/20180903204340_920025.jpg" style="height: 200px;">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-1">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="col-lg-8">
							กิจกรรม 1
						</div>
						<div class="col-lg-3">
							<a ng-click="suggestImage()">แนะนำรูป</a>
						</div>
						
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							Comment 1<br>
							Comment 2
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="row form-group">
						<div class="col-lg-12 text-center">
							<img src="../files/img/news/20180903204340_920025.jpg" style="height: 200px;">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-1">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="col-lg-8">
							กิจกรรม 2
						</div>
						<div class="col-lg-3">
							<a ng-click="suggestImage()">แนะนำรูป</a>
						</div>
						
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							Comment 1<br>
							Comment 2
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="row form-group">
						<div class="col-lg-12 text-center">
							<img src="../files/img/news/20180903204340_920025.jpg" style="height: 200px;">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-1">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="col-lg-8">
							กิจกรรม 3
						</div>
						<div class="col-lg-3">
							<a ng-click="suggestImage()">แนะนำรูป</a>
						</div>
						
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							Comment 1<br>
							Comment 2
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="row form-group">
						<div class="col-lg-12 text-center">
							<img src="../files/img/news/20180903204340_920025.jpg" style="height: 200px;">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-1">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="col-lg-8">
							กิจกรรม 4
						</div>
						<div class="col-lg-3">
							<a ng-click="suggestImage()">แนะนำรูป</a>
						</div>
						
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							Comment 1<br>
							Comment 2
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3">
					<div class="row form-group">
						<div class="col-lg-12 text-center">
							<img src="../files/img/news/20180903204340_920025.jpg" style="height: 200px;">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-1">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="col-lg-8">
							กิจกรรม 5
						</div>
						<div class="col-lg-3">
							<a ng-click="suggestImage()">แนะนำรูป</a>
						</div>
						
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							Comment 1<br>
							Comment 2
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="row form-group">
						<div class="col-lg-12 text-center">
							<img src="../files/img/news/20180903204340_920025.jpg" style="height: 200px;">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-1">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="col-lg-8">
							กิจกรรม 6
						</div>
						<div class="col-lg-3">
							<a ng-click="suggestImage()">แนะนำรูป</a>
						</div>
						
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							Comment 1<br>
							Comment 2
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="row form-group">
						<div class="col-lg-12 text-center">
							<img src="../files/img/news/20180903204340_920025.jpg" style="height: 200px;">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-1">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="col-lg-8">
							กิจกรรม 7
						</div>
						<div class="col-lg-3">
							<a ng-click="suggestImage()">แนะนำรูป</a>
						</div>
						
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							Comment 1<br>
							Comment 2
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="row form-group">
						<div class="col-lg-12 text-center">
							<img src="../files/img/news/20180903204340_920025.jpg" style="height: 200px;">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-1">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<div class="col-lg-8">
							กิจกรรม 8
						</div>
						<div class="col-lg-3">
							<a ng-click="suggestImage()">แนะนำรูป</a>
						</div>
						
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							Comment 1<br>
							Comment 2
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div ng-include src="'views/footer.html'"></div>

<script type="text/ng-template" id="suggest.html">
    <div class="modal-header">
        <div class="row">
            
            <div class="col-lg-12 text-center">
                <h3>แนะนำรูปภาพ</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
    	<textarea class="form-control"></textarea>
   </div>
   <div class="modal-footer">
   		<button class="btn btn-primary" ng-click="ok()">ส่งอีเมล์</button>
	    <button class="btn btn-default" ng-click="cancel()">ยกเลิก</button>
	</div>
</script>